<!-- BUSQUEDA AVANZADA -->
<div id="collapseSearch" [ngbCollapse]="isCollapsedSearchSeccion" class='mb-3'>
  <div class="card">
    <div class="card-body">
      <!-- SEARCH SECTION -->
      <div class="d-flex align-items-center justify-content-between">
        <h5><i class="fa fa-search fa-2x mr-2" aria-hidden="true"></i> Búsqueda avanzada</h5>
        <i class="fa fa-window-maximize fa-2x " style='cursor: pointer;top: 7px;position: absolute;right: 9px;' aria-hidden="true" (click)="isCollapsedSearchSeccion=true"></i>
      </div>
      <hr>
      <!-- <ngb-alert type="danger" *ngIf="this.frmBusqueda.invalid">Faltan datos para realizar la búsqueda.</ngb-alert> -->
      <form [formGroup]='frmBusqueda' (ngSubmit)="formBusquedaOnSubmit()"  novalidate>
        <div class="form-row align-items-center align-items-start">
          <div class="col-12 align-self-start">
            <label class="" for="findIput">Trámite o servicio</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i *ngIf="!modelBusqueda.searching" class="fa fa-search" aria-hidden="true"></i><i *ngIf="modelBusqueda.searching" class="fa fa-refresh fa-spin fa-fw"></i></div>
              </div>
              <ng-template #rt let-r="result" let-t="term">                  
                  <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
              </ng-template>
              <input 
                type="text" 
                formControlName="inputTextTramiteServicio" 
                id="inputTextTramiteServicio" 
                name='inputTextTramiteServicio' 
                class="form-control" 
                ngModel
                [ngbTypeahead]="search" 
                [resultTemplate]="rt"
                [inputFormatter]="formatter"
                placeholder="Trámite o servicio"
                minlength="4"
                (blur)="validaData($event)" />              
            </div>
            <div class="text-danger" *ngIf="modelBusqueda.inputTextTramiteServicioValid.length > 0" >{{ modelBusqueda.inputTextTramiteServicioValid }}</div>
          </div>
          <div class="col-12 col-lg-6 align-self-start" [ngClass]="{'d-none': getInputTextTramiteServicioValue.length > 0}">
            <label class="" for="fomDateInput">Dependencia</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-building" aria-hidden="true"></i></div>
              </div>
              <select2 
                formControlName="selectDependencia" 
                id="selectDependencia" 
                name="selectDependencia"
                class="custom-select"
                multiple="true"
                [data]="listaDependencias | select2Paser"
                placeholder="Seleccione una Dependencia">
              </select2>
            </div>
          </div>
          <div class="col-12 col-lg-6 align-self-start" [ngClass]="{'d-none': getInputTextTramiteServicioValue.length > 0}">
            <label class="" for="fomDateInput">Kiosco</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-building" aria-hidden="true"></i></div>
              </div>
              <select2 
                formControlName="selectKiosco" 
                id="selectKiosco" 
                name="selectKiosco"
                class="custom-select"
                multiple="true"
                [data]="listaKioscos | select2Paser"
                [placeholder]="'Seleccione un Kiosco'">
              </select2>
            </div>
          </div>          
          <div class="col-12 col-md-5 align-self-start">
            <label class="" for="fomDateInput">Desde</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></div>
              </div>
              <input formControlName="inputDateDesde" id="inputDateDesde" name='inputDateDesde' type="date" class="form-control" (blur)="validaDesdeDate($event)" [max]="getMaxDateDesde">
            </div>
            <div class="text-danger" *ngIf="modelBusqueda.dateDesdeValid.length > 0" >{{ modelBusqueda.dateDesdeValid }}</div>
          </div>
          <div class="col-12 col-md-5 align-self-start">
            <label class="" for="fomDateInput">Hasta</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></div>
              </div>
              <input formControlName="inputDateHasta" id="inputDateHasta" name='inputDateHasta' type="date" class="form-control" [min]="getMinDateHasta" [max]="fechaActual | date: 'yyyy-MM-dd'" (blur)="validaHastaDate($event)">
            </div>
            <div class="text-danger" *ngIf="modelBusqueda.dateHastaValid.length > 0" >{{ modelBusqueda.dateHastaValid }}</div>
          </div>
          <div class="col-12 col-md-2 text-right align-self-center">
            <button type="submit" class="btn btn-outline-secondary btn-lg ">Buscar</button>
          </div>
        </div>
      </form>
      <!-- /SEARCH SECTION -->
      <!-- RESULTADO BUSQUEDA GENERAL -->
      <div class='m-3' *ngIf="searchResult">
        <h5>Se buscó <span class="badge badge-info" style='font-size: 1.5em'> {{ searchResult.general.palabra }} </span>, se encontraron <span style='font-size: 1.5em;'><strong>{{ searchResult.registrosEncontrados }}</strong></span> trámites</h5>
        <hr>
        <ngb-accordion #a="ngbAccordion" [closeOthers]="true" type="light">
          <ngb-panel *ngFor="let item of searchResult.listaTramites">
            <ng-template ngbPanelHeader>
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0" ngbPanelToggle>{{ item.nombre }} <span class="badge badge-success ml-3">{{ item.realizados ? item.realizados.total : '0' }}</span></h5>
                <div>
                    <button *ngIf="item.realizados" ngbPanelToggle class="btn btn-link p-0"><i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i></button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <!-- ACORDION CONTENT -->
              <canvas baseChart 
                [data]="item.graph.data" 
                [labels]="item.graph.labels" 
                [chartType]="'pie'" 
                [options]="item.graph.options"
                [plugins]="item.graph.plugins" 
                [legend]="item.graph.legend">
              </canvas>        
              <!-- /ACORDION CONTENT -->
            </ng-template>
          </ngb-panel>      
        </ngb-accordion>
      </div>
      <!-- /RESULTADO BUSQUEDA -->
    </div>
  </div>
</div>

<!-- TRAMITES Y SERVICIOS -->
<div class="card bg-light border-info">
  <div class="card-header border-info">
    <div class="d-flex align-items-center justify-content-between">
      <span *ngIf="totalTramitesRealizados <= 0 || !fechaActual; else totalesShow">
        <i class="fa fa-cog fa-spin fa-fw"></i><span class="sr-only">Cargando...</span>
      </span>
      <ng-template #totalesShow>
        <h5  class="m-0">Total de trámites realizados <span class="badge badge-info" style='font-size: 1.5em;'> {{ totalTramitesRealizados }} </span> en el periodo de <strong style='font-size: 1.5em;'>enero</strong> a <strong style='font-size: 1.5em;'>{{ fechaActual | date:'MMMM' }}</strong> del <strong style='font-size: 1.5em;'>{{ fechaActual | date:'yyyy' }}</strong></h5>
      </ng-template>
      <button type="button" class="btn btn-outline-primary" (click)="isCollapsedSearchSeccion = !isCollapsedSearchSeccion"
          [attr.aria-expanded]="!isCollapsedSearchSeccion" aria-controls="collapseSearch">
          <i class="fa fa-search fa-2x mr-2" aria-hidden="true"></i> 
      </button>
    </div>
  </div>
  <div class="card-body">
    <!-- GRAFICOS -->
    <i *ngIf="chartsActos.length == 0; else pieGraphShow" class="fa fa-cog fa-spin fa-fw"></i><span class="sr-only">Cargando...</span>
    <ng-template #pieGraphShow>
      <div class="row">
        <div #cardRef class="col-12 col-md-12 col-lg-4" data-maximize=true *ngFor="let item of chartsActos">
          <div  name='card' class="card bg-light my-1" >
            <div class="card-header">
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0"> {{item.acto}} <span *ngIf="item.graph.total" class="badge badge-success mx-2" style='font-size: 1.5em;'> {{ item.graph.total }} </span></h5>
                <div>
                    <a [routerLink]="['/detalle/tramites', item.detailRef]" [queryParams]="item.params" class='detailBtn'><i class="fa fa-th-list fa-2x" style='cursor: pointer;' aria-hidden="true"></i></a>
                    <i #legendBtn class="fa fa-tag fa-2x ml-3 legendBtn d-none" style='cursor: pointer;' aria-hidden="true" (click)="item.graph.legend=!item.graph.legend"></i>
                    <i class="fa fa-window-maximize fa-1x ml-3 maximizeBtn" style='cursor: pointer;' aria-hidden="true" (click)="maximizeCard($event, cardRef, legendBtn)"></i>
                </div>
              </div>          
            </div>
            <div class="card-body">
              <canvas baseChart 
                [data]="item.graph.data" 
                [labels]="item.graph.labels" 
                [chartType]="'pie'" 
                [options]="item.graph.options"
                [plugins]="item.graph.plugins" 
                [legend]="item.graph.legend"
                (chartClick)="chartClicked($event,item,labelTramite)"
                (chartHover)="chartHovered($event,item,labelTramite)">
              </canvas>
              <div #labelTramite class='text-justify'></div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    
    <!-- ORIGENES DE SOLICITUDES -->
    <br>
    <h5><i class="fa fa-bar-chart fa-2x mr-2" aria-hidden="true"></i> Origen de solicitudes</h5>
    <hr>
    <i *ngIf="!barCharOrigenSolicitudes; else barGraphShow" class="fa fa-cog fa-spin fa-fw"></i><span class="sr-only">Cargando...</span>
    <ng-template #barGraphShow>
      <div style="display: block">
        <canvas baseChart
          height="100px"
          [datasets]="barCharOrigenSolicitudes.data"
          [labels]="barCharOrigenSolicitudes.labels"
          [options]="barCharOrigenSolicitudes.options"
          [plugins]="barCharOrigenSolicitudes.plugins"
          [legend]="barCharOrigenSolicitudes.legend"
          [chartType]="'bar'">
        </canvas>
      </div>
    </ng-template>
    <!-- /ORIGENES DE SOLICITUDES -->
    <!-- /GRAFICOS -->
  </div>
</div>
<!-- /TRAMITES Y SERVICIOS -->

